*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
    }
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
/* Header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin: 10px;
    
}

nav ul{
    display: flex;
    align-items: center;
}
.button-primary{
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    border: 0; 
    padding: 18px 35px;  
    height: 64px;
    border-radius: 5px;
    background-color: #fd6e0a;
}
.header{
    background-color: #fff8f3;
    background-image:  url('../Media/Image/Header_background.png'), url('../Media/Image/Developers.PNG');
    background-repeat: no-repeat;
    background-position: bottom right, Left ;
    
    
    
    

}
.banner{
    display: flex ;
    align-items: center;
    margin-top:100px ;
    margin-left: 200px;
    margin-bottom: ;
    margin-right: ;

    
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
}
.sub-title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.banner-descriptaion{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}

main{
    max-width: 1140px;
    margin: auto;
}

/* About style */
.about{
    margin: top 130px;
    text-align: center;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
   text-align: center;
   font-weight: 700;
   font-size: 35px;
   margin-bottom: 100px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.info-title{
    margin-top: 20px;
    font-size: 15px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 15px;
    color: #474747;
}
.what-i-do{
    margin-top: 130px;
    margin-bottom: 130px;
    

}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;

}
.skill{
    background: #FFFFFF ;
    box-shadow: 0px 06px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-description{
    color: #757575;
 
}
/*Resume style*/

.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25PX;
    color: #474747;
    margin-bottom: 20px;
} 
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;

} 
.resume .description{
    color: #757575;
} 
.Resume-button{
    text-align: center;
    margin-top: 50px;
}
